<%- include('../partials/header') %>
    <div class="container">
        <div class="row">
            <section id="appointment" data-stellar-background-ratio="3">
                <h2>Partition Problem</h2>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <% for(let i=0 ; i<10 ; i++){ %> 
                            <p style="overflow: auto;"><%=i+1%>)<%=array[i]%></p>
                            <strong>Can be partitioned: <%=length[i]%></strong> <br><br>
                        <% } %>
                    </div>
                </div>
             </section>
        </div>
   </div>
<%- include('../partials/footer') %>