<%- include('../partials/header') %>
    <div class="container">
        <div class="row">
            <section id="appointment" data-stellar-background-ratio="3">
                <h2>Shortest Common Subsequence Problem</h2>
                <div class="col-xs-12">
                    <div class="col-xs-12">
                        <% for(let i=0, j=0 ; i<20 ; i=i+2, j++){ %> 
                            <p style="overflow: auto;"><%=j+1%>) <%=array[i]%> <br>
                                <%=array[i+1]%></p>
                            <strong>Length: <%=length[j]%></strong> <br><br>
                        <% } %>
                    </div>
                </div>
            </section>
        </div>
   </div>
<%- include('../partials/footer') %>